/* COMMON */
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.active{
  display: none;
}
.zoom_In{
 transform: scale(2);
}
.zoomable{
  transition: 0.5s ease-in-out;
}

.pr_border{
  border: 10px solid #F27405 ;
}
/* TYPOGRAPHY */
body{
    font-family: 'Space Grotesk', sans-serif;
    max-width: 100vw;
}


    /*__________HEADER___________*/
header{
    border-bottom: 2px solid black;
  }
  .header_container{
    height: 100%;
  }
  .header_middle{
    width: 37%;
    padding: .9375rem;
  }
  .header_left{
    border-right: 2px solid black;
    height: 100%;
    width: 33%;
    padding: .9375rem 0px .9375rem .9375rem ;
    text-align: right;
  }
  .header_left p{
    margin-right: 6.25rem;
  }
  .header_right{
    border-left: 2px solid black;
    width: 33%;
    padding: .9375rem;
  }
  
  /* navbar */
  .ms_nav{
    display: flex;
    align-items: center;
    text-decoration: none;
    list-style: none;
    height: 100%;
    margin-bottom: 0;
    width: 100%;
  }
  .nav_element{
    cursor: pointer;
  }
  .nav_li:nth-child(2){
    margin: 0px 3.125rem 0 3.125rem;
  }
  .arrow_nav{
    cursor: pointer;
  }

  /* hamburger menù */
  .ham{
    display: none;
  }
  .ms_nav.slide-down {
    animation: slideDown 0.5s ease-out forwards;
    }
    @keyframes slideDown {
        0% {
            opacity: 0;
            transform: translateY(-10px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /* ____________MAIN___________ */

/* HERO */

.right_div {
    width: 25%;
    display: flex;
}
.middle_div{
    padding-top: 6.25rem;
    width: 75%;
}
.middle_down span{
  text-transform: uppercase;
}
.middle_down{
  padding-top: 2.5rem;
  margin-left: 25%;
}
.video_button {
    font-size: 2.5rem;
    border-radius: 50%;
    width: 25rem;
    height: 25rem;
    border: 2px solid black;
    padding-top: .9375rem;
    text-align: center;
    margin-left: 50%;
}

.ms_button {
    color: white;
    background-color: black;
    width: 90%;
    height: 95%;
    border-radius: 50%;
    transition: 1s;
}
.ms_button:hover{
    transform: scale(1.1);
}

.hero_container {
    width: 100%;
    height: 46.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 6.25rem;
    border-bottom: 2px solid black;
}
.video_container{
  z-index: -999; 
  bottom: 1.875rem;
  width: 100%;
  height: 100%;
}
.video_style{
  width: 100%;
}

/* right div */
.info_container {
  position: relative;
  display: inline-block;
  margin-right: 2.5rem;
}

.info_right {
  position: absolute;
  transform-origin: 0 0;
  transform: rotate(90deg);
  white-space: nowrap;
  left: 3.75rem;
  top: 4.375rem;
  font-size: 2.5rem;
}
.text_stoke{
  color: white;
  background-color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.video_end{
  border-bottom: 2px solid black;
  height: 14.6875rem;
}


/* INTRO SECTION */

.fancy{
  color: #F27506 !important;
}
.ms_container{
  max-width: 50rem;
  margin: auto;
}
.intro_title h2{
  font-size: 3.125rem;
}
.intro_section{
  padding-top: 50px;
}
.intro_title{
  padding-bottom: 3.125rem;
}
.map_container{
  background-color: #582AC0;
  padding: .625rem;
  justify-content: center;
  align-items: center;
}
.map_text{
  color: white;
  padding-left: 12.5rem;
  padding-right: 6.25rem;
}
.arrow_img_intro img{
  width: 500px;
}
.arrow_img_intro{
  top: 40.625rem; bottom: 0px; left: 18.75rem; right: 0;
  width: fit-content;
  height: fit-content;
}
.window_img_intro img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.window_img_intro{
  overflow: hidden;
  height: 25rem;
  width: 31.25rem;
  left: 65.625rem;top: 62.5rem;
}
.bidimensional_shape_title h2{
  font-size: 8.125rem;
  text-transform: uppercase;
}
.bidimensional_shape_title{
  color: #F2BC1B;
  padding: 12.5rem 12.5rem 0 12.5rem;
}
.fancy_bid{
  color: #582AC0;
}

/* OPERE SECTION */

.opere_title{
  padding-top: 1.25rem;
  text-align: center;
}
.opere_title h1{
  color: white;
  font-size: 12.5rem;
}
.opere_section_content{
  background-color: #F27506;
  padding-bottom: 31.25rem;
  border-bottom: 2px solid black;
}
.bar {
  background-color: #F27506;
  height: 0; /* Altezza iniziale a 0 */
  transition: 1s ;
}

.bar_2 {
  height: 12.5rem;
  transform: translateY(25rem); /* Muovi l'elemento verso l'alto di 300px (altezza totale meno l'altezza desiderata) */
}

.bar_1 {
  height: 12.5rem;
  transform: translateY(12.5rem); /* Muovi l'elemento verso l'alto di 200px */
}

.bar_4 {
  height: 12.5rem;
  transform: translateY(18.75rem); /* Muovi l'elemento verso l'alto di 6.25rem */
}

.bar_3 {
  height: 25rem;
  transform: translateY(0); /* Non è necessario muovere l'elemento, quindi la trasformazione è pari a 0 */
}

.opere_first img{
  width: 31.25rem ;
  transition: 0.2s;
}
.opere_first{
  padding-left: 8.125rem;
}
.opere_rat{
  text-align: right;
  width: fit-content;
  overflow: hidden;
  height: fit-content;
}
.opere_rat img{
  width: 31.25rem ;
}
.garage_container{
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}
.circle{
  clip-path: circle(50%);
  border: 2px solid #F27506  ;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
}
.button_img_one{
  left: 8.75rem; top: 6.25rem;
}
.button_img_two{
  left: 19.375rem;
}
.button_img_three{
  left: 31.25rem; top: 6.25rem;
}
.grifo_img{
  left: 50rem; top: 61.25rem;
  object-fit: cover;
  width: 56.25rem;
  height: 36.25rem;
  z-index: 20;

}
.grifo_img img{
  width: 100%;
  height: 100%;
  border-bottom: 2px solid black;
}

/* ARROW SECTION */
.tag{
  top: 15.625rem;
  width: 43.75rem;
  height: 9.375rem;
  background-color: #F2BC1B;
  color: white;
}
.point{
  top: 15.625rem; left: 43.75rem;
  width: 0;
  height: 0;
  border-top: 4.6875rem solid transparent;
  border-bottom: 4.6875rem solid transparent;
  border-left: 4.6875rem solid #F2BC1B;
}
.tag div{
  font-size: 1.875rem ;
  height: 100%;
  padding: 1.875rem 2.5rem 2.5rem 25rem;
}

.arrow_main_img{
  width: 100%;
  height: 1000px;
  
}
.arrow_main_img img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.arrow_section_title{
  background-color: #F2BC1B;
  padding-top: 12.5rem;
  padding-bottom: 8.125rem;
}
.arrow_title h2{
  text-align: center;
  font-size: 7.5rem;
  font-weight: bold;
}
.arrow_text{
  padding: 6.25rem 12.5rem 0 12.5rem;
  font-weight: bold;
}

.arrows_wrapper{
  bottom: 37.5rem; left: 31.25rem;
}
.arrow_preview{
  border-radius: 50%;
  width: 10.625rem;
  height: 10.625rem;
  margin-left: 2.5rem;
  border: 15px solid #582ABE;
}
.arrow_preview:first-child{
  margin: 0;
}
.arrow_preview img{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit:cover ;
}
.thumb{
  border: .9375rem solid #582AC0 ;
}

/* FREE ART SECTION */
.freeart_section{
  padding-bottom: 4.75rem;
}
.freeart_bar{
  background-color: #F2BC1B;
  height: auto;
}
.freeart_bar_wrapper{
  height: 25rem;
}
.fa_bar_1{
  height: 25rem;
}
.fa_bar_2{
  height: 12.5rem;
}
.fa_bar_3{
  height: 6.25rem;
}
.fa_bar_4{
  height: 18.75rem;
}
.freeart_left{
  border-top: .125rem solid black;
  border-right: .125rem solid black;
}
.freeart_right{
  border-bottom: .125rem solid black;
}
.freeart_title h2{
  font-size: 12.5rem;
  text-align: center;
  font-weight: bold;
  padding: 1.875rem 0 1.875rem 0 ;
}
.free{
  padding-left: 25rem !important;
  color: #582AC0;
}
.art{
  padding-right: 25rem !important ;
  color: #F27405;
}
.freeart_content{
  padding-top: 2.5rem;
}
.text_content{
  font-weight: bold;
  padding: 0 6.25rem 0 6.25rem
}
.freeart_slider_container img{
  width: 100%;
  height: 100%;
}
.bimbo{
  width: 25rem;
  left: 11.25rem;top: 4.375rem
}
.afro{
  width: 25rem;
  left: 31.25rem; top: 22.5rem ;
}
.discorso{
  width: 37.5rem;
  height: 43.75rem;
  left: 62.5rem; top: 6.25rem;
}
.cat{
  width: 43.75rem;
  height: 31.25rem;
  top: 37.5rem; left: 37.5rem;
  
}
.cat img{
  object-fit: cover;
}
.fabb{
  width: 37.5rem;
  top: 43.75rem; left: 12.5rem;
}
.uomo{
  width: 25rem;
  top: 67.5rem; left: 62.5rem;
}
.freeart_video_container{
  width: 100%;
  z-index: -999;
  top: 56.25rem;
}
.fr_slider{
  width: 37.5rem;
  border-radius: 18.75rem 18.75rem 0 0 ;
  overflow: hidden;
  left: 35%;
}
.fr_slider img{
  width: 100%;
}

.btn_slider{
  border: .1875rem solid black;
  width: 18.75rem;
  height: 44.375rem;
  padding: 1.25rem;
  left: 18.75rem;
  top: 125rem;
  border-radius: 100% 0 0 0rem;
}
.btn_next{
  transform:  rotateY(180deg);
  left: 83.125rem;
}
.mini_circle{
  width: 1.0625rem;
  height: 1.0625rem;
  margin-right: .625rem;
  border-radius: 1.25rem ;
  background-color: white;
  border: .125rem solid white;
}
.thumb_active{
  left: 56.25rem;
  top: 1.25rem;
  width: fit-content;
}


/* ENDING SECTION */
.ending_content{
  background-color: #582AC0;
  padding-top: 6.25rem ;
  padding-bottom: 10rem;
  border-bottom: .125rem solid black;
}
.ending_content h5{
  color: #F1BC1A;
  font-weight: bold;
  font-size: 6.25rem;
  
}
.first_text{
  text-align: right;
  padding-right: 5.625rem;
}
.second_text{
  padding-left: 4.375rem;
}
.ending_img{
  width: 22.5rem;
  height: 16.25rem;
}
.sculture_9{
  top: 18.75rem; left: 21.875rem;
}
.ending_content img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.third_text{
  padding-left: 6.25rem;
}
.sculture_wrapper{
  padding: 0 3.75rem 0 3.75rem;
}
.fourth_text {
  transform: rotate(269deg);
  font-size: 10rem !important;
}
.fourth{
  right: 13.75rem; top: 12.5rem;
}

.ed_bar{
  background-color: #582AC0;
  height: auto;
}
.ed_bar_1{
  height: 200px;
}
.ed_bar_2{
  height: 400px;
}
.ed_bar_3{
  height: 100px;
}
.ed_bar_4{
  height: 300px;
}


/* MEDIA QUERIES */
  /* media query */
  @media screen and (max-width: 1180px) {
    .nav_li:nth-child(2){
      margin: 0rem 1.25rem 0 1.25rem;
    }
  }
  @media screen and (max-width: 62.25rem){
    .ham_menu{
        text-align: right;
        padding-right: 1.25rem;
    }
    .ham{
        display: block;
        font-size: 2.25rem;
    }
    .ms_nav{
        flex-direction: column;
        position: absolute;
        right: .3125rem; top: 4.375rem;
        border: .0625rem solid black;
        height: fit-content;
        width: fit-content;
        padding: 0;
        z-index: 999;
        background-color: white;
        text-align: left;
        padding: 0;
    }
    .nav_element{
        margin: 0;
        width: 100%;
        padding: .625rem 2.5rem .625rem .625rem;
    }
    .nav_element:first-child{
        border-top: .0625rem solid black;
        border-bottom: .0625rem solid black;
    }
    .arrow_nav{
        width: 100%;
        border: none;
        padding: .625rem 2.5rem .625rem .625rem
    }
    .active{
        display: none;
    }
    .nav_li{
        width: 100%;
    }
    .nav_li:hover{
        cursor: pointer;
        transition: 0.2s ease-in-out;
        background-color: #EFBD3B;
    }
    .header_right{
        padding: 0;
    }
  }

  @media screen and (max-width: 626px){
        .header_right{
            padding: .75rem;
        }
    }
  @media screen and (max-width: 892px){
      .header_left p {
        text-align: left;
        margin: 0;
      }
  }